body {
    font-family: "Metrophobic", Helvetica, Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F0F0F0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Make navbar transparent*/

.navbar-inverse {
    background-color: #fff; 
     border-color: #fff; 
}

/*remove nav bar margin bottom */
.navbar {
    margin-bottom: 0px;
}

/*.img-responsive {
    display: block;
    height: auto !important;
    max-width: 100% !important;
}*/

/*On hover effect*/
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #333333;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333333;
}

/*width of the acount navbar maenu*/
.css-width
{
    min-width:137px;
}

/*making the footer menu to be inline no bullet*/
.css-footer li{
    display:inline !important;
    /*padding-right:2px;*/

}
/*padding for the footer left*/
/*.css-padding{
    padding-left:25px;
}*/

/*making the footer menu to be inline no bullet*/
.css-footer li.pipe::before{
    content:" | "
}

.css-margin{
    margin-right: 20px;
}
