body {

font-family: 'Montserrat', sans-serif;

    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #F0F0F0;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Make navbar transparent*/

.navbar-inverse {
    background-color: #fff; 
     border-color: #fff; 
}

/*remove nav bar margin bottom */
.navbar {
    margin-bottom: 0px;
}

/*.img-responsive {
    display: block;
    height: auto !important;
    max-width: 100% !important;
}*/

/*On hover effect*/
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #333333;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333333;
}

/*width of the acount navbar maenu*/
.css-width
{
    min-width:143px;
}

/*making the footer menu to be inline no bullet*/
.css-footer li{
    display:inline !important;
    /*padding-right:2px;*/

}

/*making the footer menu to be inline no bullet*/
.css-footer li.pipe::before{
    content:" | "
}

/*ToDo: Remove it, bad design*/
.css-margin{
    margin-right: 20px;
}

/*Set some padding from navbar and Menu elements in body*/
.navbar-offset-padding{
    padding-top:40px;
}

.btn {
     font-weight: 400;
    border-style: solid !important;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    text-decoration: none;
    font-weight: 400;
    border-style: solid;
    margin-left:2px !important;
    border-radius:0px;
}


.btn-grey.btn-line, .btn-line.btn-unactive{
    color: #515d6b !important; 
}

.btn-xxs.btn-circle, .btn-xxs.btn-square {
    width: 25px;
}

.btn-xxs.btn-line, .btn-xxs.btn-ns {
    border-width: 2px;
}

.btn-square {
    overflow: hidden;
    padding: 0;
}

.btn-line {
    background: none;
    border-color: currentColor;
}

.btn-xxs {
    font-size: 1.2rem;
    line-height: 21px;
}

/*footer styling*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

