body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
}
/********NAVBAR*/
/*Make navbar transparent*/

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

/*remove nav bar margin bottom */
.navbar {
    margin-bottom: 0px;
}

/*On hover effect*/
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #333333;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333333;
}

.navbar.navbar-inverse.navbar-fixed-top {
    border-color: transparent;
    background-color: transparent;
}
/***********END NAVBAR*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*width of the acount navbar maenu*/
.css-width {
    min-width: 143px;
}

/*making the footer menu to be inline no bullet*/
.css-footer li {
    display: inline !important;
    /*padding-right:2px;*/
}

    /*making the footer menu to be inline no bullet*/
    .css-footer li.pipe::before {
        content: " | ";
    }

/*ToDo: Remove it, bad design*/
.css-margin {
    margin-right: 20px;
}

/*option button styling*/
.btn {
    font-weight: 400;
    border-style: solid !important;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    text-decoration: none;
    font-weight: 400;
    border-style: solid;
    margin-left: 2px !important;
    border-radius: 0px;
}

.btn-grey.btn-line, .btn-line.btn-unactive {
    color: #515d6b !important;
}

.btn-xxs.btn-circle, .btn-xxs.btn-square {
    width: 25px;
}

.btn-xxs.btn-line, .btn-xxs.btn-ns {
    border-width: 2px;
}

.btn-square {
    overflow: hidden;
    padding: 0;
}

.btn-line {
    background: none;
    border-color: currentColor;
}

.btn-xxs {
    font-size: 1.2rem;
    line-height: 21px;
}

/*validation for field*/
.input-validation-error {
    border: 2px solid red;
}

.nomargin {
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
}

/*#region Carousal */

.item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
    width: 100%;
}

.imgbanner {
    max-width: 100%;
    max-height: 90vh;
    height: 580px !important;
}

.logo {
    width: 130px;
}

.carousel-caption h2 {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-weight: 700;
    font-size: 68px;
    letter-spacing: 1px;
    text-shadow: none;
}

@media (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }
}

.css-carousel-color {
    background-color: #ff7b5c;
}

.css-carousel-control {
    width: 5%;
    top: 50%;
    bottom: 50%;
}

@media (max-width: 768px) {
    .carousel-caption h2 {
        font-size: 48px;
    }
}

@media (max-width: 480px) {
    .carousel-caption h2 {
        font-size: 38px;
    }
}


.carousel-caption h5 {
    padding: 0;
    color: #FFF;
    font-weight: normal;
    font-size: 24px;
    margin: 30px 0 40px;
    line-height: 1.5;
    text-shadow: none;
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 18px;
        margin: 20px 0;
    }
}


/*#endregion Carousal */

