@{
    ViewBag.Title = "Home Page";
}

@*<div id="slides">
    <ul class="slides-container">
      
      
        <li>
            <img src="~/Content/Images/14.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
 
        </li><li>
    <img src="~/Content/Images/15.jpeg" />
    <h1 class="h-strong text-center">
        Refer and get referred.
    </h1>
</li>

             
    
    </ul>
</div>*@


my home page